/*Google font*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Noto+Serif:wght@600;700&display=swap');

/* Color Palette */
:root{
    --primary:#8B0000;
    --secondary:#D4A017;
    --accent:#2E8B57;
    --cream:#FFF8E7;
    --brown:#3B1F14;
    --white:#FFFFFF;
    --shadow:0 4px 10px rgba(0,0,0,0.15); /*create shadow effect to give element raised look*/
}
/* General Styles */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Inter',sans-serif;
    background:var(--cream);
    color:var(--brown);
    line-height:1.6;
}
h1,
h2,
h3{
    font-family:'Noto Serif',serif;
    letter-spacing:0.05rem;
    color:var(--primary);
}

p{
    margin-bottom:1rem;
}

img{
    max-width:100%;
    display:block;
}
a{
    text-decoration:none;
    color:inherit;
}

ul{
    list-style:none;
}
/* Container */
.container{
    width:90%;
    max-width:75rem;
    margin:auto;
}
/* Header */
header{
    background:var(--white);
    box-shadow:var(--shadow);
}

header .container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:1rem 0;
}
header img{
    width:6rem;
}
/* Navigation */
nav ul{
    display:flex;
    gap:2rem;
}
nav a{
    font-weight:600;
    letter-spacing:0.03rem;
    transition:0.3s;
}
nav a:hover{
    color:var(--primary);
}
/* Hero Section */
.hero{
    height:80vh;/*80%of screen height*/
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    color:var(--white);
    background:url("../images/hero.jpg") center/cover no-repeat;
}

.hero h1{
    color:var(--white);
    font-size:clamp(2rem,5vw,3.5rem);/*(min, recommended, max)*/
    margin-bottom:1rem;
}

.hero p{
    font-size:1.2rem;
    color:var(--white);
}
/* Buttons */
.hero a,
section a,
button{
    display:inline-block;
    background:var(--primary);
    color:var(--white);
    padding:0.75rem 1.5rem;
    border-radius:0.5rem;
    border:none;
    cursor:pointer;
    transition:0.3s;
}

.hero a:hover,
section a:hover,
button:hover{
    background:var(--secondary);
    color:var(--brown);
}
